<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @permission_sheet.name %>
</p>

<%= link_to 'Edit', edit_permission_sheet_path(@permission_sheet) %> |
<%= link_to 'Back', permission_sheets_path %>
